
* {
  margin: 0;
  padding: 0;
}

a {
  color: #2175c999;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

h1 {
  display: inline;
  font-size: 20px;
  color: #333;
}
del {
  text-decoration: none;
  color: red;
  background: #fadad7;
}
ins {
  background: #eaf2c2;
  color: green;
  text-decoration: none;
}

#result {
  white-space: pre-wrap;
  word-break: break-all;
}

#settings {
  display: grid;
  padding: 0 10px;
  top: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  line-height: 50px;
  background: #eee;
  border-bottom: 1px solid #999;
}
#content {
  height: calc(100vh - 55px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font: 1em monospace;
  text-align: left;
  white-space: pre-wrap;
  overflow: auto;
  grid-gap:1px;
  padding: 1px;
}
#a,
#b,
#c {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  overflow: auto;
  border: 1px solid gray;
  box-sizing: border-box;
}

[contentEditable] {
  background: #f9f9f9;
  border-color: #bbb #d9d9d9 #ddd;
  -webkit-user-modify: read-write-plaintext-only;
  outline: none;
}
[contentEditable]:focus {
  background: #fff;
  border-color: #6699cc;
  box-shadow: 0 0 4px #2175c9;
}

/* 打印样式 */
@media print {
  #settings {
    display: none;
  }
  #content {
    display: block;
    min-height: 100vh;
    height: auto;
  }
  #a {
    display: none;
  }
  #b {
    display: none;
  }
  #c {
    border: none;
    width: 100% !important;
    background: #fff;
  }
}
