@-moz-document url-prefix() {
  body {
    height: 99%; /* Hide scroll bar in Firefox */
  }
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: #eee;
  font: 12px sans-serif;
}
body {
  padding-top: 1.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
table,
tbody,
tr,
td {
  height: 100%;
}
table {
  table-layout: fixed;
  width: 100%;
}
td {
  width: 33%;
  padding: 3px 4px;
  border: 1px solid transparent;
  vertical-align: top;
  font: 1em monospace;
  text-align: left;
  white-space: pre-wrap;
  overflow: auto;
}
h1 {
  display: inline;
  font-size: 100%;
}
del {
  text-decoration: none;
  color: red;
  background: #fadad7;
}
ins {
  background: #eaf2c2;
  color: green;
  text-decoration: none;
}

#result {
  white-space: pre-wrap;
  word-break: break-all;
}

#settings {
  position: fixed;
  top: 0;
  left: 5px;
  right: 5px;
  height: 2em;
  line-height: 2em;
  background: #eee;
  border-bottom: 1px solid #999;
}
#settings label {
  margin-left: 1em;
}

.source {
  position: absolute;
  right: 1%;
  top: 0.2em;
}

.source a {
  color: red;
  text-decoration: none;
}

[contentEditable] {
  background: #f9f9f9;
  border-color: #bbb #d9d9d9 #ddd;
  border-radius: 4px;
  -webkit-user-modify: read-write-plaintext-only;
  outline: none;
}
[contentEditable]:focus {
  background: #fff;
  border-color: #6699cc;
  box-shadow: 0 0 4px #2175c9;
}
